<!DOCTYPE html>
<html>
  <head>
    <title>Careers</title>
    {% include 'bootstrap.html' %}
    <style>
      .img-banner {
        width: 100%;
        object-fit: cover;
      }
      .container {
        width:75%;
        margin: 0 auto;
      }
    </style> 
  </head>
  <body>
    {% include 'nav.html' %}
    <div class='container img-banner'>
      <h1 class='text-center mt-2 mb-4'>{{Company_name}} Career's</h1>
      <img class='img-fluid' src='https://careers-page.vishalonceagain.repl.co/static/banner.jpg' alt='banner' height='320px'>
      <h2 class='text-center mt-4 mb-4'>About Us</h2>
      <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
      <h2 class='text-center mt-2 mb-4'>Open Positions</h2>
      <div>
        {% for job in jobs %}
          {% include 'job-item.html' %}
        {% endfor %}
      </div>
      <div class='text-center my-4'>
        <button class='btn btn-outline-primary'>Contact Us</button>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>